{%  extends '../master.njk' %}

{% set recaptcha = use('Recaptcha') %}

{% block head %}
    <!-- Generate script tag. -->
    {{ recaptcha.script | safe }}
{% endblock %}

{% block content %}
    <div class="container">

        <div class="row">
            <h2>Register</h2>
        </div>

        <div class="row">

            <div class="col-md-8 col-md-offset-2">

                <div class="panel panel-default">

                    <div class="panel-body">

                        {{ form.open({action: 'RegisterController.register',class:'form-horizontal'}) }}
                            {{ csrfField }}

                            <div class="field">

                                {{ form.label('username','Name') }}
                                {{ form.text('username','',{class:'form-control'}) }}

                            </div>

                            <div class="field">

                                {{ form.label('email','E-Mail Adress') }}
                                {{ form.email('email','',{class:'form-control'}) }}

                            </div>

                            <div class="field">

                                {{ form.label('password','Password') }}
                                {{ form.password('password','',{class:'form-control'}) }}

                            </div>

                            <!-- Generate recaptcha field -->
                            {{ recaptcha.field | safe }}

                            <br/>
                            <div class="submit">
                                {{ form.submit('Register','',{class:'btn btn-primary'}) }}
                            </div>

                        {{ form.close() }}

                    </div>

                </div>

            </div>

        </div>

    </div>

{% endblock %}