<header>
    <nav>
        <div class="nav-wrapper light-blue darken-3">
                <ul class="right hide-on-med-and-down">
                    <li><a href="/login">Login</a></li>
                    <li><a href="/register">Register</a></li>
                </ul>
        </div>
    </nav>
</header>